#pnl-field{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:6px;
  padding:6px;
}

.player{
  position:relative;
  min-height:145px;
  border-radius:18px;
  padding:10px 8px 8px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:flex-start;
}

.jersey-no{
  top:10px;
  left:12px;
  font-size:15px;
}

.jersey-name{
  margin-top:16px;
  font-size:11px;
  font-weight:900;
  text-align:center;
}

.jersey-time{
  margin:34px 0 0 0;
  font-size:32px;
  font-weight:900;
  text-align:center;
}

.jersey-total{
  position:absolute;
  bottom:10px;
  left:12px;
  min-width:70px;
  padding:4px 10px;
  border-radius:18px;
  border:3px solid #38f1a4;
  background:rgba(20,40,60,0.9);
  font-size:10px;
  font-weight:900;
  color:#58ffb4;
}

.player.active::after{
  top:10px;
  right:10px;
  min-width:32px;
  height:32px;
  border-radius:12px;
  font-size:14px;
}
